* {
    font-size: 25px;
    font-family: sans-serif, monospace;
}

body {
    background-color: #292C35;
    
}

.heading {
    color: white;
    text-align: center; 
    font-size: 40px; 
    margin: auto;
    letter-spacing: 3px;
}


#submit {
    font-size: 40px;
    width: 200px;
    text-align: center;
    display:block;
    margin: auto;
} 

#info {
    text-align: center;
}

p {
    text-align: center;
}

